setuptools==59.5.0
opencv-python
open3d
pybullet
transformers
scipy
openai
trimesh
sentence-transformers
google-generativeai
einops
dill
diffusers
zarr
cmake==3.25
robomimic==0.2.0
efficientnet_pytorch
av
sentencepiece
wandb
supervision
timm
