setuptools==59.5.0
opencv-python
pybullet
transformers==4.49.0
scipy
openai
trimesh
sentence-transformers
google-generativeai
einops
dill
diffusers
zarr
cmake==3.25
robomimic==0.2.0
efficientnet_pytorch
av
sentencepiece
wandb
supervision
timm
configargparse
nbformat==5.7.0